body {
  font-family: Open Sans;
}

h1 {
  font-weight: 800;
  font-size: 5em;
  color: black;
}

p {
  font-size: 20px;
}

.header-image {
  background: url("imagine1.png") no-repeat center center fixed;
  background-size: cover;
}

.header {
  padding-top: 25%;
  padding-bottom: 20%;
  color: black;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}

.info-background {
  background-color: #F1F2F0;
  background-size: cover;
}

.info-publication {
  background-color: #881c1c;
  background-size: cover;
}

.info {
  padding-top: 5%;
  padding-bottom: 5%;
  color: #4F5458;
}

.larger-font {
  font-size: 36px;
}

.smaller-font {
  font-size: 16px;
}

.portfolio {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  color: #F1F2F0;
  background-color: #4F5458;
  background-size: cover;
}

.photos {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  background-color: #F1F2F0;
  background-size: cover;
}

.well {
  background: transparent;
  border: none;
  padding: 5px;
  color: #F1F2F0;
}

.well:hover {
  background: rgba(255, 255, 255, 0.5);
}

.contact {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  background-color: #4F5458;
  color: white;
}

.footer {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  background-color: black;
  color: white;
}

.social-icon {
  color: white;
  padding: 30px;
}

.fa:hover {
  color: #809090;
}

.devicon-github-plain{
	color: white;
}

.devicon-linkedin-plain{
	color: white;
}

.github-link{
	color: white;
	text-decoration:none;
}

/* .fa-twitter:hover {
  color: #0084b4
}

.fa-github:hover {
  color: #313335;
}

.fa-linkedin:hover {
  color: #0077b5;
}

.fa-instagram:hover {
  color: deeppink;
}

.fa-medium:hover {
  color: green;
}

.fa-tumblr:hover{
  color: darkblue;
}

.fa-fire:hover {
  color: darkred;
}

.fa-envelope:hover {
  color: #ea4335;
} */
