
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Abhinav's Project</title>

    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<!-- CSS references; Google Fonts & FontAwesome -->
<link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Navbar Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">E Abhinav Sundaram</a>
        </div>
        <!-- END Navbar Header -->
        <!-- List out the nav links, will be toggled if necessary -->
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#home"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#about"><i class="fa fa-info-circle"></i> About</a></li>
                <li><a href="#portfolio"><i class="fa fa-folder"></i> Projects</a></li>
                <li><a href="#contact"><i class="fa fa-at"></i> Contact</a></li>
            </ul>
        </div>
    </div>
    <!-- END nav links -->
</nav>
<!-- END Navigation Bar -->

<!-- Home -->
<div class="header-image" id="home">
    <div class="header container">
        <h1>E Abhinav Sundaram</h1>
        <h3 style="color: black; text-shadow: none;">Striving Java Developer</h3>
        <p><a href="https://github.com/esabhinav" target="_blank"><i 
            		class="devicon-github-plain"></i></a>&nbsp;&nbsp;
        <a href="https://www.linkedin.com/in/esabhinav/" target="_blank"><i
                    class="devicon-linkedin-plain"></i></a>
        </p>
    </div>
</div>
<!-- END Home -->


<!-- About -->
<div class="info-background" id="about">
    <div class="info container">
        <div class="row">
            <div class="col-md-4 col-xs-8 col-xs-offset-2 col-md-offset-0">
                <img src="https://i.imgur.com/3VDZlAf.jpg"
                     class="img-rounded" alt="Abhinav" width="304" height="306">
            </div>
            <div class="col-md-8 col-xs-12">
                <p class="larger-font text-center">About me</p>
            </div>
            <div class="col-md-8 col-xs-12">
                <p>I am a Information Science Grad Student employed in Tata Consultancy Services Ltd. </p>
            </div>
            <div class="col-md-4 col-xs-10 col-sm-6 col-xs-offset-1 col-md-offset-0">
                <p class="larger-font text-left">My Skills:</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;
                	<i class="devicon-java-plain"></i>Java<br> &nbsp;&nbsp;&nbsp;
                    <i class="devicon-html5-plain"></i> HTML<br> &nbsp;&nbsp;&nbsp;
                    <i class="devicon-javascript-plain"></i> JavaScript<br> &nbsp;&nbsp;&nbsp;
                    <i class="devicon-c-plain"></i> C<br> &nbsp;&nbsp;&nbsp;
                    <i class="devicon-cplusplus-plain"></i> C++<br> &nbsp;&nbsp;&nbsp;
                    <i class="devicon-python-plain"></i> Python<br> &nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-md-4 col-xs-15 col-sm-6 col-xs-offset-1 col-md-offset-0">
                <p class="larger-font text-center">Expertise</p>
                <p>&nbsp;&nbsp;&nbsp;
                    <i></i>	1. Data Structure<br> &nbsp;&nbsp;&nbsp;
                    <i></i> 2. XML & XSLT<br> &nbsp;&nbsp;&nbsp;
                    <i></i> 3. SOAP web service<br> &nbsp;&nbsp;&nbsp;</p>
                <p class="larger-font text-center">Interests</p>
                <p>&nbsp;&nbsp;&nbsp;
                    <i></i> 1. Machine Learning<br>&nbsp;&nbsp;&nbsp;
                    <i></i> 2. Deep Learning</p>
            </div>
        </div>
    </div>
</div>
<!-- END About -->


<!-- Projects -->
<div class="portfolio" id="portfolio">
    <div class="container">
        <p class="larger-font">Projects</p>
        <div class="row">
            <a href="https://github.com/AbhiramE/Score-Predictor" target="_blank">
                <div class="col-md-4 well smaller-font">
                    <img src="http://i.imgur.com/1vtvgUs.jpg" class="img-responsive" height="600" width="400"/>
                    <p>Score Predictor With Machine Learning</p>
                </div>
            </a>
            <a href="http://elnux2.cs.umass.edu:13798/index.html" target="_blank">
                <div class="col-md-4 well smaller-font">
                    <img src="https://i.imgur.com/DkbPeKA.png" class="img-responsive" height="450" width="400"/>
                    <p>Visualizing the Evolution of Cricket</p>
                </div>
                <a href="https://github.com/AbhiramE/Timeline" target="_blank">
                    <div class="col-md-4 well smaller-font">
                        <img src="http://i.imgur.com/1vtvgUs.jpg" class="img-responsive" height="400" width="350"/>
                        <p>Recommender System for places to visit.</p>
                    </div>
                </a>
        </div>
        <div class="row">
            <a href="https://github.com/AbhiramE/Poller" target="_blank">
                <div class="col-md-4 well smaller-font">
                    <img src="http://i.imgur.com/1vtvgUs.jpg" class="img-responsive" height="600" width="400"/>
                    <p>Internship Poller</p>
                </div>
            </a>
            <a href="https://github.com/AbhiramE/ProjectLETOR" target="_blank">
                <div class="col-md-4 well smaller-font">
                    <img src="http://i.imgur.com/1vtvgUs.jpg" class="img-responsive" height="600" width="400"/>
                    <p>Learning to Rank With RankLib</p>
                </div>
                <a href="https://gist.github.com/AbhiramE/b991ebe4066206c354f7f029fd374543" target="_blank">
                    <div class="col-md-4 well smaller-font">
                        <img src="http://imgur.com/uqmfuDP.png" class="img-responsive" height="400" width="350"/>
                        <p>Intermediate Agent For Supermarkets</p>
                    </div>
                </a>
        </div>
        <div class="row">
            <a href="https://gist.github.com/AbhiramE/706f2cb693ec37452154c505a6e55aae" target="_blank">
                <div class="col-md-4 well smaller-font">
                    <img src="http://i.imgur.com/XVGIzr9.png" class="img-responsive"/>
                    <p>Fflaunt for Windows Phone</p>
                </div>
            </a>
            <a href="https://devpost.com/software/splitwork-zejqvd" target="_blank">
                <div class="col-md-4 well smaller-font">
                    <img src="http://i.imgur.com/HoBCXH4.png" class="img-responsive" height="280" width="350"/>
                    <p>SplitWork In Android</p>
                </div>
            </a>
            <a href="https://github.com/AbhiramE/Reddit-Extension" target="_blank">
                <div class="col-md-4 well smaller-font">
                    <img src="http://i.imgur.com/1vtvgUs.jpg" class="img-responsive"/>
                    <p>Redit Extension</p>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- END Projects -->

<!-- Publications
<div class="info-publication" id="publication">
    <div class="info container">
        <div class="row">
            <p class="larger-font text-center">Publications</p>
        </div>
        <div>
            <a href="http://ieeexplore.ieee.org/document/6799066/" target="_blank"><p>1. An intelligent system to
                detect, avoid and maintain potholes: A graph theoretic approach </p></a>
        </div>
    </div>
</div>
</div>

Contact -->
<div class="contact" id="contact">
    <div class="container">
        <p class="larger-font">Contact Me</p>
        <p>
            <a href="https://www.facebook.com/abhinav.sundaram"><i
            		class="fa fa-facebook fa-3x social-icon"></i></a>
            <a href="https://twitter.com/abhinav_bale" target="_blank"><i
                    class="fa fa-twitter fa-3x social-icon"></i></a>
            <a href="https://www.instagram.com/esabhinav/" target="_blank"><i
                    class="fa fa-instagram fa-3x social-icon"></i></a>
            <a href="mailto:esabhinav@gmail.com"><i
            		class="fa fa-envelope fa-3x social-icon"></i></a>
    </div>
</div>
<!-- END Contact -->


</body>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
</body>
</html>
