<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Abhinav Sundaram</title>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">
<link rel="stylesheet" href="style/main.css">
<link rel="shortcut icon" href="images/person.ico">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
</head>
<body>
	<header>
		<div class="menu-toggler">
			<div class="bar half start"></div>
			<div class="bar"></div>
			<div class="bar half end"></div>
		</div>
		<nav class="top-nav">
			<ul class="nav-list">
				<li><a href="index.html" class="nav-link">Home</a></li>
				<li><a href="#about" class="nav-link">About</a></li>
				<li><a href="#expertise" class="nav-link">Expertise</a></li>
				<li><a href="#portfolio" class="nav-link">Portfolio</a></li>
				<li><a href="#experience" class="nav-link">Experience</a></li>
				<li><a href="#contact" class="nav-link">Contact</a></li>
			</ul>
		</nav>
		<div class="landing-text" id="landing-text">
			<h1>Abhinav Sundaram</h1>
			<h6>
				Java in Code. <i class="fas fa-laptop-code"></i> Java in Coffee. <i
					class="fas fa-mug-hot"></i>
			</h6>
		</div>
	</header>
	<section class="about" id="about">
		<div class="container">
			<div class="profile-img" data-aos="fade-in" data-aos-delay=600>
				<img src="images/portfolioimg.png" alt="">
			</div>
			<div class="about-details" data-aos="fade-in" data-aos-delay=600>
				<div class="about-heading">
					<h1>About</h1>
					<h6>Myself</h6>
				</div>
				<p>A Software Engineer with three years of experience as a
					developer at Tata Consultancy Service Ltd. Specialist in middleware
					and enterprise software development. I worked as an apprentice at
					Whenda, a start-up venture. I am also a member of SoUL, an NGO that
					empowers under privileged children through their education.</p>
				<div class="social-media">
					<ul class="nav-list">
						<li><a href="https://www.linkedin.com/in/esabhinav/" class="icon-link" target="_blank">
							<i class="fab fa-linkedin"></i>
						</a></li>
						<li><a href="https://twitter.com/LotOfGarbageOut" class="icon-link" target="_blank"> 
							<i class="fab fa-twitter-square"></i>
						</a></li>
						<li><a href="https://github.com/esabhinav" class="icon-link" target="_blank">
							<i class="fab fa-github-square"></i> 
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="expertise" id="expertise">
		<div class="container">
			<div class="section-heading">
				<h1>Expertise</h1>
				<h6>What I am good at</h6>
			</div>
			<div class="my-skills">
				<div class="skill" data-aos="fade-in" data-aos-delay=300>
					<div class="icon-container">
						<i class="fas fa-code"></i>
					</div>
					<h1>Web Development</h1>
					<p>Web Development is my favorite forte. Whenever I want to get
						diverted from my daily work, I always go back to designing new
						websites or updating previously developed ones. New frameworks are
						always coming up to learn, so this has also been the area in which
						I try to improve most.</p>
				</div>
				<div class="skill" data-aos="fade-in" data-aos-delay=600>
					<div class="icon-container">
						<i class="fas fa-sitemap"></i>
					</div>
					<h1>Enterprise Application Development</h1>
					<p>I began my professional career with Enterprise Application
						development. I have built numerous middleware APIs on the JBoss
						Enterprise Application Platform over the past few years. I'm not a
						stranger fiddling around with ESB & Web Services.</p>
				</div>
			</div>
			<h1 class="skills-heading">My Skills</h1>
			<div class="my-skillsicon" data-aos="fade-in" data-aos-delay=300>
				<div class="skillicon">
					<div class="skillicon-container">
						<i class="devicon-java-plain colored"></i>
					</div>
					<br>
					<h2>Java</h2>
				</div>
				<div class="skillicon">
					<div class="skillicon-container">
						<i class="devicon-python-plain colored"></i>
					</div>
					<br>
					<h2>Python</h2>
				</div>
				<div class="skillicon">
					<div class="skillicon-container">
						<i class="fa fa-server"></i>
					</div>
					<br>
					<h2>Web Services</h2>
				</div>
				<div class="skillicon">
					<div class="skillicon-container">
						<i class="devicon-c-plain colored"></i>
					</div>
					<br>
					<h2>C</h2>
				</div>
				<div class="skillicon">
					<div class="skillicon-container">
						<i class="devicon-cplusplus-plain colored"></i>
					</div>
					<br>
					<h2>C++</h2>
				</div>
				<div class="skillicon">
					<div class="skillicon-container">
						<i class="devicon-apache-plain colored"></i>
					</div>
					<br>
					<h2>Apache Camel</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="portfolio" id="portfolio">
		<div class="container">
			<div class="section-heading">
				<h1>Portfolio</h1>
				<h6>View some of my recent work</h6>
			</div>
			<div class="portfolio-item">
				<div class="portfolio-img has-margin-right" data-aos="zoom-in"
					data-aos-delay=300>
					<img alt="" src="images/project3.png">
				</div>
				<div class="portfolio-description" data-aos="zoom-in"
					data-aos-delay=300>
					<h6>Portfolio Website</h6>
					<h1>HTML, CSS, JavaScript & Jquery</h1>
					<p>Developed a fluid single-page personal portfolio site. The
						site is build using HTML, CSS & JavaScript. I used few available
						libraries to make it look as aesthetic as possible.</p>
					<a href="http://www.tnbpda.com/" class="cta">Demo Site <i
						class="far fa-eye"></i></a> <br> <a
						href="https://github.com/esabhinav/PetroleumProject" class="cta">View
						Github <i class="fab fa-github"></i>
					</a>
				</div>
			</div>
			<div class="portfolio-item">
				<div class="portfolio-img has-margin-right" data-aos="zoom-in"
					data-aos-delay=300>
					<img alt="" src="images/project2.png">
				</div>
				<div class="portfolio-description" data-aos="zoom-in"
					data-aos-delay=300>
					<h1>Football Today Web Application</h1>
					<h6>Java, Spring Boot & REST</h6>
					<p>Developed a Web Application that shows live football news
						and scores from around the world. The application is developed
						with Java & Spring Boot. All the data are fetched through REST API
						calls to external systems. The application is deployed on Amazon
						Web Services(AWS) Cloud.</p>
					<a
						href="http://ec2-18-221-182-20.us-east-2.compute.amazonaws.com:8080/football/home"
						class="cta">Demo Site <i class="far fa-eye"></i></a> <br> <a
						href="https://github.com/esabhinav/Footballer" class="cta">View
						Github <i class="fab fa-github"></i>
					</a>
				</div>
			</div>
			<div class="portfolio-item">
				<div class="portfolio-img has-margin-right" data-aos="zoom-in"
					data-aos-delay=300>
					<img alt="" src="images/project1.jpg">
				</div>
				<div class="portfolio-description" data-aos="zoom-in"
					data-aos-delay=300>
					<h1>Web Application for TamilNadu Bharat Petroleum Dealer
						Association</h1>
					<h6>Java</h6>
					<p>Developed a complete web application for TamilNadu Bharat
						Petroleum Dealer Association using Java, SQL, JSP and JQuery for
						development. The pages were hosted from Amazon Web Services Cloud.
						The application is aimed to connect the Bharat Petroleum dealers
						across Tamil Nadu and ease their work by keeping track of certain
						tasks.</p>
					<a href="http://www.tnbpda.com/" class="cta">Demo Site <i
						class="far fa-eye"></i></a> <br> <a
						href="https://github.com/esabhinav/PetroleumProject" class="cta">View
						Github <i class="fab fa-github"></i>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="experience" id="experience">
		<div class="container">
			<div class="section-heading">
				<h1>Work Experience</h1>
				<h6>Past and current jobs</h6>
			</div>
			<div class="timeline" data-aos="zoom-in" data-aos-delay=300>
				<ul>
					<li class="date" data-date="October 2017 - Present">
						<h2>Software Engineer, Tata Consultancy Service Ltd.</h2>
						<div class="timeline" data-aos="zoom-in" data-aos-delay=1000>
							<ul style="margin-left: 7%; width: 100%;">
								<li class="date" data-date="December 2020 - Present">
									<h2>Full-Stack Developer</h2>
									<p>Working on a project to develop an application that
										connects to several other systems to carry out operations
										related to the General Data Protection Regulation(GDPR). The
										project uses Java, Web Services, Apache Kafka, Elastic Stack &
										Cucumber BDD approach for testing. The project practices
										Scaled Agile Framework (SAFe) & DevOps life cycle.</p>
								</li>
								<li class="date" data-date="October 2017 - November 2020">
									<h2>Developer</h2>
									<p>Worked in a middle-ware project that uses Java, Spring,
										Web Services & Apache Camel to develop APIs within the
										Insurance domain. I was also part of a Java project aiming to
										create a web application for Tata Consultancy Services’
										internal purpose.</p>
								</li>
								<li class="date" data-date="">
									<h2>Member of Extended Guild</h2>
									<p>I am a member of the extended guild working with the R&D
										department to support various projects in the proof of
										concepts and to give customers technically advanced
										presentations.</p>
								</li>
							</ul>
						</div>
					</li>
					<li class="date" data-date="July-August 2016">
						<h2>Software Engineering Intern, Whenda</h2>
						<p data-aos="zoom-in" data-aos-delay=500>Interned at asset
							management startup Whenda. Developed a price tracker for various
							online products using JavaScript. Various facets of the project
							involved creating a book-marker using Javascript, tracking
							real-time changes of price, and notifying the real-time changes
							to the email provided.</p>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="contact" id="contact">
		<div class="container">
			<div class="section-heading">
				<h1>Personal</h1>
				<h6>
					Who am I behind the keyboard <i class="fas fa-user-secret"></i>
				</h6>
			</div>
			<div class="instagram-feed" data-aos="zoom-in" data-aos-delay=500>
				<div>
					<p>My beginnings come from the town of Hospet, known for its
						vicinity to Hampi, a UNESCO World Heritage Site. However, as fate
						had it, I am located in Bengaluru pursuing my professional career.</p>
					<br>
					<p>I am a massive cricket freak. I wake up as early as 5:00 AM
						to watch a test match! I follow football as well, but keep my
						watch to fewer teams and leagues.</p>
				</div>
				<div class="instagram-feed">
					<div>
						<figure>
							<img src="images/personal_madrid.jpeg" alt="">
							<br>
							<figcaption>Madridista!</figcaption>
						</figure>
					</div>
					<div>
						<figure>
							<img src="images/personal_bfc.jpg" alt="">
							<br>
							<figcaption>Who are we? BFC!</figcaption>
						</figure>
					</div>
				</div>
			</div>
			<div class="personal_instagram">
				<div class="insta" id="instagram-feed-demo2" class="instagram_feed"></div>
				<div class="details" class="instagram-feed" data-aos="zoom-in" data-aos-delay=500>
					<p>I am a melomaniac, a reader on occasion, and a part-time
						gamer.</p>
					<br>
					<p>I'm not an expert, but I capture a few moments from time to
						time while I travel, which I think must be recorded, so I keep a
						different Instagram account for that.</p>
				</div>
			</div>
<!-- 			<p>
				<a
					href="https://medium.com/@abhinavsundaram/happy-birthday-dhoni-f7c2dad13de1"
					target="_blank"><i class="fab fa-medium"></i> Medium - Happy
					Birthday Dhoni</a> <br> <a
					href="https://medium.com/@abhinavsundaram/rasam-sambar-ca4361298713"
					target="_blank"><i class="fab fa-medium"></i> Medium - Rasam
					&#62; Sambar</a>
			</p> -->
		</div>
	</section>

	<section class="contact" id="contact">
		<div class="container">
			<div class="section-heading">
				<h1>Contact</h1>
				<h6>Get in contact with me anywhere</h6>
			</div>
			<ul class="contact-list contact-content">
				<li><a href="https://github.com/esabhinav" target="_blank"><i
						class="fab fa-github-square"></i> </a></li>
				<li><a href="https://www.linkedin.com/in/esabhinav/"
					target="_blank"><i class="fab fa-linkedin"></i> </a></li>
				<li><a href="https://www.facebook.com/abhinav.sundaram"
					target="_blank"><i class="fab fa-facebook-square"></i> </a></li>
				<li><a href="https://twitter.com/LotOfGarbageOut" target="_blank"><i
						class="fab fa-twitter-square"></i> </a></li>
				<li><a href="https://www.instagram.com/esabhinav/"
					target="_blank"><i class="fab fa-instagram"></i> </a></li>
				<li><a href="mailto:esabhinav@gmail.com"><i
						class="fa fa-envelope"></i> </a></li>
			</ul>
		</div>
	</section>
	<footer class="copyright">
		<div class="up" id="up">
			<i class="fas fa-chevron-up"></i>
		</div>
		<p>&copy; Abhinav Sundaram</p>
	</footer>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script src="style/InstagramFeed.js"></script>
	<script
		src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
	<script src="style/main.js"></script>
</body>
</html>
