<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Abhinav Sundaram</title>
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
        <link rel="stylesheet" href="style/main.css" />
        <link rel="shortcut icon" href="images/person.ico" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css" />
    </head>
    <body>
        <header>
            <div class="menu-toggler">
                <div class="bar half start"></div>
                <div class="bar"></div>
                <div class="bar half end"></div>
            </div>
            <nav class="top-nav">
                <ul class="nav-list">
                    <li><a href="index.html" class="nav-link">Home</a></li>
                    <li><a href="#about" class="nav-link">About</a></li>
                    <li><a href="#expertise" class="nav-link">Expertise</a></li>
                    <li><a href="#portfolio" class="nav-link">Portfolio</a></li>
                    <li><a href="#experience" class="nav-link">Experience</a></li>
                    <li><a href="#contact" class="nav-link">Contact</a></li>
                </ul>
            </nav>
            <div class="landing-text" id="landing-text">
                <h1>Abhinav Sundaram</h1>
                <h6>Java in Code. <i class="fas fa-laptop-code"></i> Java in Coffee. <i class="fas fa-mug-hot"></i></h6>
            </div>
        </header>
        <section class="about" id="about">
            <div class="container">
                <div class="profile-img" data-aos="fade-in" data-aos-delay="600">
                    <img src="images/portfoliomyimg.jpg" alt="" />
                </div>
                <div class="about-details" data-aos="fade-in" data-aos-delay="600">
                    <div class="about-heading">
                        <h1>About</h1>
                        <h6>Myself</h6>
                    </div>
                    <p>
                        Logical and results-driven Full Stack Engineer with over 5 years of experience in building and optimizing user-focused websites for customers with various business objectives. Spearheading the design & developments
                        of projects from scratch in a start-up setting, improving the company's revenue. Specialized in Java, Angular, Ionic and well acquainted with middleware & enterprise software development. Technically proficient and
                        analytical problem solver with calm and focused demeanor.
                    </p>
                    <div class="social-media">
                        <ul class="nav-list">
                            <li>
                                <a href="https://www.linkedin.com/in/esabhinav/" class="icon-link" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/LotOfGarbageOut" class="icon-link" target="_blank">
                                    <i class="fab fa-twitter-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/esabhinav" class="icon-link" target="_blank">
                                    <i class="fab fa-github-square"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="expertise" id="expertise">
            <div class="container">
                <div class="section-heading">
                    <h1>Expertise</h1>
                    <h6>What I am good at</h6>
                </div>
                <div class="my-skills">
                    <div class="skill" data-aos="fade-in" data-aos-delay="300">
                        <div class="icon-container">
                            <i class="fas fa-code"></i>
                        </div>
                        <h1>Full Stack Development</h1>
                        <p>
                            In my two-year tenure within a startup environment, I have honed my expertise in application development, gaining valuable skills and experience. I am proficient in various programming languages, such as HTML,
                            CSS, and have a strong understanding of front-end frameworks like Angular. Additionally, I have hands-on experience with server-side technologies like Java and databases such as MySQL. I am adept at building
                            responsive and user-friendly applications. My startup experience has equipped me with the ability to work efficiently and collaborate effectively in dynamic and fast-paced environments.
                        </p>
                    </div>
                    <div class="skill" data-aos="fade-in" data-aos-delay="600">
                        <div class="icon-container">
                            <i class="fas fa-sitemap"></i>
                        </div>
                        <h1>Enterprise Application Development</h1>
                        <p>
                            At the onset of my professional career, I immersed myself in the realm of Enterprise Application development. I have built numerous middleware APIs utilizing the JBoss Enterprise Application Platform. I am
                            well-versed in working with ESB (Enterprise Service Bus) and Web Services, with a penchant for exploring and experimenting within these domains. This hands-on experience has solidified my expertise in crafting
                            robust and efficient solutions, ensuring seamless communication and integration within enterprise systems.
                            <br />
                            <br />
                        </p>
                    </div>
                </div>
                <h1 class="skills-heading">My Skills</h1>
                <div class="my-skillsicon" data-aos="fade-in" data-aos-delay="300">
                    <div class="skillicon">
                        <div class="skillicon-container">
                            <i class="devicon-java-plain colored"></i>
                        </div>
                        <br />
                        <h2>Java</h2>
                    </div>
                    <div class="skillicon">
                        <div class="skillicon-container">
                            <i class="devicon-angularjs-plain colored"></i>
                        </div>
                        <br />
                        <h2>Angular</h2>
                    </div>
                    <div class="skillicon">
                        <div class="skillicon-container">
                            <i class="devicon-mysql-plain colored"></i>
                        </div>
                        <br />
                        <h2>MySQL</h2>
                    </div>
                    <div class="skillicon">
                        <div class="skillicon-container">
                            <i class="fa fa-server"></i>
                        </div>
                        <br />
                        <h2>Web Services</h2>
                    </div>
                    <div class="skillicon">
                        <div class="skillicon-container">
                            <i class="devicon-amazonwebservices-plain colored"></i>
                        </div>
                        <br />
                        <h2>AWS</h2>
                    </div>
                    <div class="skillicon">
                        <div class="skillicon-container">
                            <i class="devicon-apache-plain colored"></i>
                        </div>
                        <br />
                        <h2>Apache Camel</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="experience" id="experience">
            <div class="container">
                <div class="section-heading">
                    <h1>Work Experience</h1>
                    <h6>Past and current jobs</h6>
                </div>
                <div class="timeline" data-aos="zoom-in" data-aos-delay="300">
                    <ul>
                        <li class="date" data-date="October 2021 - Present">
                            <h2>Senior Software Engineer, SpaceBasic Pvt. Ltd.</h2>
                            <div class="timeline" data-aos="zoom-in" data-aos-delay="1000">
                                <ul style="margin-left: 7%; width: 100%;">
                                    <li class="date" data-date="August 2022 - Present">
                                        <h2>Senior Software Engineer</h2>
                                        <p>
                                            As a senior software engineer in a startup environment, I lead the tech team and collaborate closely with the director of engineering, customer success, and CEO to make informed decisions on
                                            project scope and tech stack selection. My expertise in implementing indexed database architecture using SQL procedures and triggers has greatly enhanced data management and performance across
                                            applications. I actively contribute to the development of new ideas, initiatives, products, and services, working alongside departments such as marketing, customer success, and project management.
                                            By driving innovation and fostering collaboration, I play a crucial role in the company's growth and success.
                                        </p>
                                    </li>
                                    <li class="date" data-date="October 2021 - August 2022">
                                        <h2>Software Engineer</h2>
                                        <p>
                                            As a software engineer in a startup environment, I have played a key role in designing and developing full-stack web and mobile applications from scratch. This involved utilizing my expertise in
                                            Core Java to create automated solutions with web interfaces using HTML, CSS, and web services. Additionally, I have designed and implemented scalable APIs to ensure seamless integration and
                                            performance. Working with AWS, I have successfully handled deployment, database upgrades, and scheduled job management. I have proven myself to be a highly valuable member of the team. Through my
                                            dedication, expertise, contibution and hard work, I was honored "Employee of the Year" award in 2022.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="date" data-date="October 2017 - September 2021">
                            <h2>Software Engineer, Tata Consultancy Service Ltd.</h2>
                            <div class="timeline" data-aos="zoom-in" data-aos-delay="1000">
                                <ul style="margin-left: 7%; width: 100%;">
                                    <li class="date" data-date="December 2020 - Present">
                                        <h2>Full-Stack Developer</h2>
                                        <p>
                                            Working on a project to develop an application that connects to several other systems to carry out operations related to the General Data Protection Regulation(GDPR). The project uses Java, Web
                                            Services, Apache Kafka, Elastic Stack & Cucumber BDD approach for testing. The project practices Scaled Agile Framework (SAFe) & DevOps life cycle.
                                        </p>
                                    </li>
                                    <li class="date" data-date="October 2017 - November 2020">
                                        <h2>Developer</h2>
                                        <p>
                                            Worked in a middle-ware project that uses Java, Spring, Web Services & Apache Camel to develop APIs within the Insurance domain. I was also part of a Java project aiming to create a web
                                            application for Tata Consultancy Services’ internal purpose.
                                        </p>
                                    </li>
                                    <li class="date" data-date="">
                                        <h2>Member of Extended Guild</h2>
                                        <p>I am a member of the extended guild working with the R&D department to support various projects in the proof of concepts and to give customers technically advanced presentations.</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="date" data-date="July-August 2016">
                            <h2>Software Engineering Intern, Whenda</h2>
                            <p data-aos="zoom-in" data-aos-delay="500">
                                Interned at asset management startup Whenda. Developed a price tracker for various online products using JavaScript. Various facets of the project involved creating a book-marker using Javascript, tracking
                                real-time changes of price, and notifying the real-time changes to the email provided.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

		<section class="portfolio" id="portfolio">
            <div class="container">
                <div class="section-heading">
                    <h1>Portfolio</h1>
                    <h6>View some of my recent work</h6>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-img has-margin-right" data-aos="zoom-in" data-aos-delay="300">
                        <img alt="" src="images/project3.png" />
                    </div>
                    <div class="portfolio-description" data-aos="zoom-in" data-aos-delay="300">
                        <h6>Portfolio Website</h6>
                        <h1>HTML, CSS, JavaScript & Jquery</h1>
                        <p>Developed a fluid single-page personal portfolio site. The site is build using HTML, CSS & JavaScript. I used few available libraries to make it look as aesthetic as possible.</p>
                        <a href="https://esabhinav.github.io/" class="cta">Demo Site <i class="far fa-eye"></i></a> <br />
                        <a href="https://github.com/esabhinav/esabhinav.github.io" class="cta">View Github <i class="fab fa-github"></i> </a>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-img has-margin-right" data-aos="zoom-in" data-aos-delay="300">
                        <img alt="" src="images/project2.png" />
                    </div>
                    <div class="portfolio-description" data-aos="zoom-in" data-aos-delay="300">
                        <h1>Football Today Web Application</h1>
                        <h6>Java, Spring Boot & REST</h6>
                        <p>
                            Developed a Web Application that shows live football news and scores from around the world. The application is developed with Java & Spring Boot. All the data are fetched through REST API calls to external
                            systems. The application is deployed on Amazon Web Services(AWS) Cloud.
                        </p>
                        <a href="http://ec2-18-221-182-20.us-east-2.compute.amazonaws.com:8080/football/home" class="cta">Demo Site <i class="far fa-eye"></i></a> <br />
                        <a href="https://github.com/esabhinav/Footballer" class="cta">View Github <i class="fab fa-github"></i> </a>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-img has-margin-right" data-aos="zoom-in" data-aos-delay="300">
                        <img alt="" src="images/project1.jpg" />
                    </div>
                    <div class="portfolio-description" data-aos="zoom-in" data-aos-delay="300">
                        <h1>Web Application for TamilNadu Bharat Petroleum Dealer Association</h1>
                        <h6>Java</h6>
                        <p>
                            Developed a complete web application for TamilNadu Bharat Petroleum Dealer Association using Java, SQL, JSP and JQuery for development. The pages were hosted from Amazon Web Services Cloud. The application is
                            aimed to connect the Bharat Petroleum dealers across Tamil Nadu and ease their work by keeping track of certain tasks.
                        </p>
                        <a href="http://www.tnbpda.com/" class="cta">Demo Site <i class="far fa-eye"></i></a> <br />
                        <a href="https://github.com/esabhinav/PetroleumProject" class="cta">View Github <i class="fab fa-github"></i> </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact" id="contact">
            <div class="container">
                <div class="section-heading">
                    <h1>Personal</h1>
                    <h6>Who am I behind the keyboard <i class="fas fa-user-secret"></i></h6>
                </div>
                <div class="instagram-feed" data-aos="zoom-in" data-aos-delay="500">
                    <div>
                        <p>Originally hailing from the town of Hospet, renowned for its proximity to the UNESCO World Heritage Site, Hampi, I have now established myself in Bengaluru, where I am dedicated to pursuing my professional career.</p>
                        <br />
                        <p> Beyond my professional endeavors, I am a passionate cricket enthusiast, eagerly waking up at the crack of dawn to catch test matches. While I also have an interest in football, I limit my focus to select teams and leagues.</p>
                    </div>
                    <div class="instagram-feed">
                        <div>
                            <figure>
                                <img src="images/personal_madrid.jpeg" alt="" />
                                <br />
                                <figcaption>Madridista!</figcaption>
                            </figure>
                        </div>
                        <div>
                            <figure>
                                <img src="images/personal_bfc.jpg" alt="" />
                                <br />
                                <figcaption>Who are we? BFC!</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="personal_instagram">
                    <div class="insta">
						<figure>
							<img src="images/personal_travel.jpg" alt="" />
							<br />
							<figcaption>Secluded Place & Solace!</figcaption>
						</figure>
					</div>
					<div class="insta">
						<figure>
							<img src="images/personal_travel2.jpg" alt="" />
							<br />
							<figcaption>Bliss!</figcaption>
						</figure>
					</div>
                    <div class="details" class="instagram-feed" data-aos="zoom-in" data-aos-delay="500">
                        <p>I am a melomaniac who finds solace in the world of music, and an occasional reader. In addition, I am an avid backpacker and enthusiastic traveler, always seeking new destinations and immersing myself in different cultures.</p>
                        <br />
						<p>I do blog sometimes sporadically.</p>
						<a href="https://esabhinav.substack.com/" target="_blank">
						<u>LINK TO MY SPACE</u>
						</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact" id="contact">
            <div class="container">
                <div class="section-heading">
                    <h1>Contact</h1>
                    <h6>Get in contact with me anywhere</h6>
                </div>
                <ul class="contact-list contact-content">
                    <li>
                        <a href="https://github.com/esabhinav" target="_blank"><i class="fab fa-github-square"></i> </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/esabhinav/" target="_blank"><i class="fab fa-linkedin"></i> </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/abhinav.sundaram" target="_blank"><i class="fab fa-facebook-square"></i> </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/LotOfGarbageOut" target="_blank"><i class="fab fa-twitter-square"></i> </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/esabhinav/" target="_blank"><i class="fab fa-instagram"></i> </a>
                    </li>
                    <li>
                        <a href="mailto:esabhinav@gmail.com"><i class="fa fa-envelope"></i> </a>
                    </li>
                </ul>
            </div>
        </section>
        <footer class="copyright">
            <div class="up" id="up">
                <i class="fas fa-chevron-up"></i>
            </div>
            <p>&copy; Abhinav Sundaram</p>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script src="style/jquery.instagramFeed.js"></script>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
        <script src="style/main.js"></script>
    </body>
</html>
